@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Bungee+Tint&family=Matemasie&family=New+Amsterdam&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@1,200&family=Sankofa+Display&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family:  "New Amsterdam", sans-serif;
    
}

header{
    background-color: #ffffff;
    height: 150px;
    margin: auto;
    
}

#barra-navegacion-logo{
    background-color: #ffffff;
    width: 1100px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 16px;

    
}

header section nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 8px;
    font-size: 22px;
    font-weight: lighter;

}

#hero-banner{
    background: linear-gradient(180deg,  #ffffff, #4D4D4D);
    
   
}

#hero-banner div{
    height: 680px;
    width: 1100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: auto;
}

#hero-banner div article h1{
    font-size: 30px;
    font-weight:lighter;
}

#hero-banner div article h2{
    font-size: 50px;
    font-weight: lighter;
}


